.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.footer-text {
  font-size: 200%;
  font-family: "Teko", sans-serif;
  position: absolute;
  bottom: 0;
}

.card{
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: 200px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

.header_title{
  font-size: 300%;
  font-family: "Teko", sans-serif;
  text-align: center;
}

.pages_list{
  font-size: 190%;
  font-family: "Teko", sans-serif;
}

.contact_infos{
  font-size: 190%;
}

.home_text{
  font-size: 250%;
  text-align: center;
}