.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 200px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  font-size: 200%;
  font-family: "Teko", sans-serif;
  text-align: center;
  padding: 1px 20%;
  background-color: #f1f1f100;
}

.card{
  border: 1px solid hsl(0, 0%, 80%);
  background-color: rgb(193,200,210);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: 200px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}

.header_title{
  font-size: 300%;
  font-family: "Teko", sans-serif;
  text-align: center;
}

.pages_list{
  font-size: 190%;
  font-family: "Teko", sans-serif;
}

.contact-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  padding-left: 60px;
}

.contact_infos {
  font-size: 350%;
  margin: 0;
  padding: 0;
}

.home-container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  text-align: center;
  min-height: 70vh; /* Prend toute la hauteur disponible */
}

.home_text {
  font-size: 250%;
  text-align: center;
}

.header {
  width: 100%;
  background-color: #c5bdbd;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav-item {
  position: relative;
}

.nav-item a, .nav-item span {
  text-decoration: none;
  font-size: 1.2em;
  color: #333;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.nav-item a:hover, .nav-item span:hover {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  padding: 10px;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #333;
  color: #fff;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

